*._DS_Store
*.DS_Store
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.swp
*.synctex.gz
*.pdf

../hw3/test.html
../hw4/dynslides.tex
../hw4/hw42.html
20141110_175211.jpg
20141110_175215.jpg
20141110_180829.jpg
20141110_180834.jpg
20141110_180841.jpg
20141110_180852.jpg
20141110_180855.jpg
20141110_180858.jpg
20141110_180909.jpg
20141110_180914.jpg
20141110_180931.jpg
hw6.html
../lectureNotes/mathjaxHeader.js
../lectureNotes/notes.html
../ref/.zip
../ref/erickson-lectures-homeworks/jeffericksonAlgorithms.zip
../ref/saia_lectures_tex_src/.ipynb_checkpoints/
../ref/saia_lectures_tex_src/Untitled0.ipynb
../ref/saia_lectures_tex_src/alt-chain.fig
../ref/saia_lectures_tex_src/aug-chain.fig
../ref/saia_lectures_tex_src/aug.fig

